<div class="form-container">
      <mat-form-field>
      <h4>FROM ACCOUNT</h4>
        <mat-select #fromAcount (change)="onChange($event)">
          <mat-option *ngFor="let account of accounts" [value]="account.value">
            {{account.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <h4>TO ACCOUNT</h4>
        <mat-select>
          <mat-option *ngFor="let transaction of transactions" [value]="transaction.merchant">
            <span>{{transaction.merchant}}</span> - <span> {{transaction.amount}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
          <input matInput type="number" class="example-right-align">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
      </mat-form-field>
</div>
      <mat-card-actions class="right">
        <button mat-raised-button color="warn" (click)="onSubmit(fromAcount)" >Submit</button>
      </mat-card-actions>
<div class="space-l"></div>
